.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.checkoutProduct__info {
  padding-left: 40px;
}

.checkoutProduct__info {
  width: 55%;
}

.checkoutProduct__info > button {
  background: #ffd814;
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  margin-top: 10px;
  border-color: #fcd200;
  color: #111;
  transition: background-color 0.5s ease;
}

.checkoutProduct__info > button:hover {
  background-color: #d6b000;
}

.checkoutProduct__image {
  object-fit: contain;
  height: 180px;
  width: 20%;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__price {
  display: flex;
  width: 20%;
  justify-content: end;
}

.checkoutProduct__checkbox {
  display: flex;
  align-items: center;
  width: 5%;
}
